<div class="background">
    <div class="container">
        <mat-card class="my-card">
            <mat-card-title>Edit Profile</mat-card-title>
            <mat-divider></mat-divider>
            <mat-card-content>
                <form class="my-form">
                    <mat-card-subtitle class="subtitle">Personal Information</mat-card-subtitle>
                    <div class="my-form-wrap">
                        <div>
                            <mat-form-field class="my-form-field">
                                <mat-label>First Name</mat-label>
                                <input matInput placeholder="First Name">
                            </mat-form-field>
                            <mat-form-field class="my-form-field">
                                <mat-label>Last Name</mat-label>
                                <input matInput placeholder="Last Name">
                            </mat-form-field>
                            <mat-form-field class="my-form-field">
                                <mat-label>Age</mat-label>
                                <input matInput placeholder="Age">
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field class="my-form-field">
                                <mat-label>Nationality</mat-label>
                                <input matInput placeholder="Nationality">
                            </mat-form-field>
                            <mat-form-field class="my-form-field">
                                <mat-label>Languages</mat-label>
                                <input matInput placeholder="Languages">
                            </mat-form-field>
                            <mat-form-field class="my-form-field">
                                <mat-label>Height</mat-label>
                                <input matInput placeholder="Height">
                            </mat-form-field>
                        </div>
                    </div>
                    <br>
                    <mat-divider></mat-divider>
                    <mat-card-subtitle class="subtitle">Contact</mat-card-subtitle>
                    <div class="my-form-wrap">
                        <div>
                            <mat-form-field class="my-form-field">
                                <mat-label>Phone</mat-label>
                                <input matInput placeholder="Phone">
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field class="my-form-field">
                                <mat-label>E-mail</mat-label>
                                <input matInput placeholder="E-mail">
                            </mat-form-field>
                        </div>
                    </div>
                </form>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary">Save</button>
                <button mat-raised-button color="basic">Back</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>