.pageContainer {
    height: 100%;

    a {
        text-decoration:  none;        
    }

    .nav-list {
        width: 200px;
        margin-left: 10px;
        margin-right: 10px;

        mat-list-item {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    
        .nav-heading {                  
            font-weight: 500;
            border-bottom: 1px solid grey;           
        }
    
        .onhover {
            cursor: pointer;
            outline: none !important;
    
            &:hover {
                color: blue;
            }

            span {
                padding-right: 12px;
            }
        }
    }
}