<mat-sidenav-container class="pageContainer">
  <mat-sidenav opened mode="side">
    <mat-list role="list">
      <mat-list-item class="onhover" role="listitem" [routerLink]="['/home']">Home</mat-list-item>
      <mat-list-item class="onhover" role="listitem" [routerLink]="['/accounts']">Accounts</mat-list-item>
      <mat-list-item class="onhover" role="listitem" [routerLink]="['/accounts']">User</mat-list-item>
    </mat-list>    
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>     
  </mat-sidenav-content>
</mat-sidenav-container>
