<div class="container">
    <mat-card class="card-box">
        <div class="image-container"><img src="../../assets/images/man-photo.jpg" class="profile-image" alt=""></div>
        <div>
            <mat-card-title>Dawid</mat-card-title>
            <mat-card-subtitle>Karbowniczek</mat-card-subtitle>
        </div>
        Hello
    </mat-card>
    <div class="data-container">
        <mat-card class="data-box">
            <mat-card-title>DANE</mat-card-title>
        </mat-card>
        <mat-card class="actions-box">
            <mat-card-title>Actions</mat-card-title>
        </mat-card>
    </div>    
</div>

